<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>

        <!-- 数据库连接 -->
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/hibernate</property>
        <property name="connection.username">root</property>
        <property name="connection.password">123456</property>

        <!-- SQL 方言 数据库的引擎  -->
        <property name="dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>

        <!-- 执行打印SQL  -->
        <property name="show_sql">true</property>

        <!-- 如果有就使用，没有就创建 -->
        <property name="hbm2ddl.auto">update</property>

        <!-- 配置映射文件  -->
        <mapping resource="com/hibernate/entity/User.hbm.xml"/>
        <mapping resource="com/hibernate/entity/Role.hbm.xml"/>
        <mapping resource="com/hibernate/entity/Permissions.hbm.xml"/>
        <mapping class="com.hibernate.entity.U"/>
        <mapping class="com.hibernate.entity.R"/>
        <mapping class="com.hibernate.entity.P"/>
    </session-factory>
</hibernate-configuration>